WJFAOO_0928/SzM_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT SzaboMartin_orarend (ora)>
<!ELEMENT ora (targy, idopont+, helyszin+, oktato+, szak*)
	<!ATTLIST ora id ID #REQUIRED tipus (elmélet|gyakorlat) #REQUIRED >
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (tol, ig, nap)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>